<ion-view>
    <ion-nav-buttons side="secondary">
        <a class="button button-clear" href="#/review/{{data.place.place_id}}">
            Review
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="rating-banner" ng-class="ratingStyle(data.place.rating)">
            <p class="rating-text">{{data.place.rating}}</p>
            <p class="rating-text-small">{{data.place.distance}}1.5 mi</p>
        </div>
        <ul ng-if="data.place.photos.length > 1" rn-carousel class="photo-container">
            <li ng-repeat="photo in data.place.photos">
                <img class="center-cropped" ng-src="{{photo}}">
            </li>
        </ul>
        <img ng-if="data.place.photos.length <= 1" class="photo-container center-cropped" ng-src="{{data.place.photos[0]}}">
        <p class="detail-name">{{data.place.name}}</p>
        <p class="detail-address">{{data.place.address}}</p>
        <!--<kf-price-level level="data.place.price_level"></kf-price-level>-->
        <div class="card">
            <div class="row">
                <div class="col col-center">
                    <a class="button icon-left ion-ios7-telephone button-clear button-dark responsive-button" href="tel:{{data.place.tel}}">
                        Call
                    </a>
                </div>
                <div class="col col-center" >
                    <a class="button icon-left ion-compass button-clear button-dark responsive-button" href="#">
                        Directions
                    </a>
                </div>
                <div class="col col-center">
                <button ng-class="data.mapStyle" class="button icon-left ion-map button-clear responsive-button" ng-click="toggleMap()">
                    Map
                </button>
                </div>
            </div>
        </div>
        <div class="card" ng-if="data.mapVisible">
            <div class="row">
                <div class="col col-center">
                <ui-gmap-google-map center='map.center' zoom="14" options="map.options">
                    <ui-gmap-marker idKey="data.place.place_id" coords="map.center"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
                </div>
        </div>
        <div class="card ">
            <div class="item compact-card">
                <h2 class="small-indent">Ratings</h2>
                <hr>
                <div class="row">
                    <div class="col-50"><p class="small-text large-indet">Kid's menu</p></div>
                    <div class="col-50"><kf-stars ng-model="data.place.detailedRatings.kidsMenu" accept-input="false"></div>
                </div>
                <div class="row">
                    <div class="col-50"><p class="small-text large-indet">Healthy options</p></div>
                    <div class="col-50"><kf-stars ng-model="data.place.detailedRatings.healthyOptions" accept-input="false"></kf-stars></div>
                </div>
                <div class="row">
                    <div class="col-50"><p class="small-text large-indet">Speed / Service</p></div>
                    <div class="col-50"><kf-stars ng-model="data.place.detailedRatings.speedAndService" accept-input="false"></div>
                </div>
                <div class="row">
                    <div class="col-50"><p class="small-text large-indet">Table activities</p></div>
                    <div class="col-66"><kf-stars ng-model="data.place.detailedRatings.tableActivities" accept-input="false"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item compact-card">
                <h2 class="small-indent">User Reviews</h2>
            </div>
            <div ng-if="data.place.reviews.length == 0" class="row">
                <div class="col-100"><p class="small-text large-indet">Currently no reviews, be the first</p></div>
            </div>
            <div ng-repeat="review in data.place.reviews" class="item">
                <div class="user-review-rating user-rating-text" ng-class="ratingStyle(review.score)">{{review.score}}</div>
                <div class="review-right-content">
                    <div>{{review.reviewer_name}}</div>
                    <div style="white-space: pre-wrap; width:100%"><i class="ion-quote icon-quote"></i>{{review.body.comments}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>