<ion-view>
    <ion-content class="has-header">
        <div class="item">
            <form ua-login>
                <label class="item item-input">
                    <input name="login" type="text" placeholder="Username"><br>
                </label>
                <label class="item item-input">
                    <input name="password" placeholder="Password" type="password"><br>
                </label>
                <button type="submit" style="margin-top:10px;" class="button button-block button-positive">Log in</button>

                <!--or <a href="" ua-oauth-link="google">Log in with Google</a>-->
                <h2 style="text-align: center; padding-top: 30px;">- or -</h2>
                <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
                <p ng-show="error">{{ error.message }}</p>
            </form>
            <button ua-oauth-link="facebook" class="button button-block button-positive"><i class="ion-social-facebook"></i> Log with facebook</button>

            <a class="button button-block button-clear" href="#/signup">Sign up</a>

        </div>
    </ion-content>
</ion-view>

