<ion-view title='KidFriendly'>
    <ion-nav-buttons side="secondary">
        <a class="button button-clear" ng-click="submit(review)">
            Submit
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header padding search-background">
      <div class="row"><div class="col col-100"><h4><i class="ion-compose"></i> {{place.name}} Review</h4></div></div>
      <div class="card compact-card">
        <div class="item">
        <div class="row">
            <div class="col col-100">
                <h4>Kids Menu</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <kf-stars ng-model="review.kidsMenu" accept-input="true" value="0" max="5"></kf-stars>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <h4>Healthy Options</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <kf-stars ng-model="review.healthOptions" accept-input="true" value="0" max="5"></kf-stars>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <h4>Service / Speed</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <kf-stars ng-model="review.service" accept-input="true" value="0" max="5"></kf-stars>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h4>Table Activities</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <kf-stars ng-model="review.accommodations" accept-input="true" value="0" max="5"></kf-stars>
            </div>
        </div>
        <div class="row">
             <div class="col">
                <textarea class="text-area-border" ng-model="review.comments" rows="4" placeholder="Advice for other parents..."></textarea>
             </div>
        </div>
      </div>
    </ion-content>
</ion-view>