<ion-view title='<img class="title-image" src="img/logo.png">'>
    <ion-content class="has-header padding search-background">
        <div class="row"><div class="col col-100"><h4><i class="ion-compose"></i> {{place.name}} Service</h4></div></div>
        <div class="card compact-card">
            <div class="item">
                <div class="row">
                    <div class="col col-100">
                        <h4>Staff Attitude</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <kf-stars ng-model="atmosphere" value="0" max="5"></kf-stars>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <h4>Quickness to be seated</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <kf-stars ng-model="foodQuality" value="0" max="5"></kf-stars>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h4>Quickness receiving food</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <kf-stars ng-model="accommodations" value="0" max="5"></kf-stars>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Overall Service</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <kf-stars ng-model="overall" value="0" max="5"></kf-stars>
                    </div>
                </div>
                <div class="row">
                    <a class="button button-block button-positive" href="#/review3/{{place.id}}">Next...</a>
                </div>
    </ion-content>
</ion-view>