<ion-view title='<img class="title-image" src="img/logo.png">'>
    <ion-content class="has-header padding search-background">
        <div class="row">
            <div class="col col-100">
                <h5>Family friendliness atmosphere</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <h5>Food (tasty, promptness, quality)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h5>Accommodations (high chairs, change tables, table activities)</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Overall Kid Friendliness</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Would you recommend this place to a friend with children?</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button">No</a>
                    <a class="button">Maybe</a>
                    <a class="button">Yes</a>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col">
                <textarea class="text-area-border" rows="3" placeholder="Advice for other parents..."></textarea>
             </div>
        </div>
        <button class="button button-block button-positive">Leave Opinion</button>
    </ion-content>
</ion-view>