<ion-view hide-nav-bar="true">
    <ion-content class="home-content" style="padding:6px" scroll="false">
        <div class="row home-title-row">
            <div class="col col-100">
                <div>
                    <span class="title-big">KidFriendly</span>
                    <span class="subtitle-text">Discover kid friendly restaurants</span>
                </div>
            </div>
        </div>
        <div class="row hideable-row" style="margin-top: 5%" ng-if="hasPosition">
            <div class="col col-100">
                <a  href="#/search/nearby" class="button button-treatment button-block button-positive">
                    <i class="ion-pinpoint icon-smaller"></i>Search Nearby</a>
            </div>
        </div>
        <div class="row hideable-row" style="margin-top: 5%" ng-if="hasPosition">
            <div class="col col-100 or-text">
                - or -
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col col-100">
                <label class="item item-input input-compact">
                    <input type="text" ng-model="userData.postalCode" placeholder=" Postal Code">
                    <a class="button button-treatment button-balanced" style="display:inline-block" href="#/search/{{userData.postalCode}}">
                        <i class="icon ion-search icon-smaller" style="margin-right: 0px"></i>
                    </a>
                </label>
            </div>
        </div>
        <a class="button button-treatment button-block facebook-button button-positive" ua-oauth-link="facebook" ng-hide="user.authenticated">
            <i class="icon-smaller ion-social-facebook"></i>
            Sign in with Facebook
        </a>
        <a class="button button-treatment button-block facebook-button button-positive" ng-show="user.authenticated" ua-logout>
            <i class="icon-smaller ion-social-facebook"></i>
            Sign out
        </a>
    </ion-content>
</ion-view>