<ion-view hide-nav-bar="true">
    <ion-content class="home-content" style="padding:6px" scroll="false">
        <div class="row home-title-row">
            <div class="col col-100">
                <div>
                    <span class="title-big">KidFriendly</span>
                    <span class="subtitle-text">Discover kid friendly restaurants</span>
                </div>
            </div>
        </div>
        <div class="row hideable-row" style="margin-top: 5%" ng-if="data.hasPosition">
            <div class="col col-100">
                <a  href="#/search/nearby" class="button button-treatment button-block button-positive">
                    <i class="ion-pinpoint icon-smaller"></i>Search near me</a>
            </div>
        </div>
        <div class="row hideable-row" style="margin-top: 5%" ng-if="data.hasPosition">
            <div class="col col-100 or-text">
                - or -
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col col-100">
                <label class="item item-input input-compact">
                    <input type="text" ng-model="data.userData.postalCode" placeholder=" Postal Code">
                    <a class="button button-treatment button-balanced" style="display:inline-block" href="#/search/{{data.userData.postalCode}}">
                        <i class="icon ion-search icon-smaller" style="margin-right: 0px"></i>
                    </a>
                </label>
            </div>
        </div>
        <div style="text-align: center; width:97%; position:absolute; bottom:65px">
            <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=wwwkidfrien0b-20&o=1&p=288&l=ur1&category=amazonmom&banner=1Z5EK18S770MH0NBY8R2&f=ifr&linkID=R3Z64OYCWUGRQVOR" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        
        <kf-facebook-button class="facebook-button"></kf-facebook-button>
        <div class="facebook-button">
        <button ng-click="logout()" class="button button-treatment button-block button-positive" ng-show="data.user.authenticated">
            Sign out
        </button>
        </div>
    </ion-content>
</ion-view>