<ion-view title='KidFriendly'>
    <ion-content class="has-header">
        <div class="row">
            <div class="col col-100">
                <a  href="#/search/nearby" class="button button-balanced tile-button-wide">Nearby</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a class="button button-positive tile-button" href="#/search/healthy">Healthy</a>
            </div>
            <div class="col col-50">
                <a class="button button-positive tile-button" href="#/search/%22kids+menu%22">Kids
                    Menu</a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a class="button button-positive tile-button" href="#/search/activities">Activities</a>
            </div>
            <div class="col col-50">
                <a class="button button-positive tile-button" href="#/search/service">Service/Speed</a>
            </div>
        </div>
        <label class="item item-input item-select">
            <div class="input-label">
                Cuisine
            </div>
            <select>
                <option></option>
                <option>American</option>
                <option>Mexican</option>
                <option>Itailian</option>
                <option>Asian</option>
                <option>Indian</option>
            </select>
        </label>
        <ul class="list">
            <li class="item item-toggle">
                Include Chains
                <label class="toggle toggle-positive">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <div class="row">
                <div class="col col-100">
                    <a class="button button-block button-positive" href="#/login" ng-hide="user.authenticated">Sign In</a>
                    <a class="button button-block button-default" href="#/signup" ng-hide="user.authenticated">Sign up</a>
                </div>
            </div>
    </ion-content>
</ion-view>