<div class="intro-message" >
    <h1>KidFriendly is coming!</h1>
    <hr class="intro-divider">
    <div class="row whitezone">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/max_at_aquarium_circle.png" alt="">
            <h3>Find your new favorite place</h3>
            <p>
            Discover the best kid-friendly restaurants near you. We're building a catered
            database of the very best places to bring your kids.
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/max_looking_at_food.png" alt="">
            <h3>Search by what's important</h3>
            <p>Sometimes you want something healthy. Some days you just need it fast.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/dinosaur_circle.png" alt="">
            <h3>Share advice</h3>
            <p>Read what the community has to say. We focus on practical advice, like where's
            the best place to sit? Is the parking close?
            </p>
        </div>
    </div>
    <div class="greenzone">
      <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm">
          <img class="img-responsive hidden-xs center-block" src="/images/phone_75p.png">
        </div>
        <div class="col-md-6 " style="height:100%">
          <div class="center-block">
            <h2>Join the list</h2>
            <div>Coming soon for IOS and Android.<br>Sign up to hear more.</div>
            <div class="form-box" ng-controller="EmailMeCtrl as emailCtrl">
                <form role="form" class="form-horizontal" style="width:100%" ng-submit="emailCtrl.sendEmail()">
                    <div class="form-group form-group-lg">
                        <input ng-model="email" class="form-control success-border-color" type="email" id="formGroupInputLarge" placeholder="Join our mailing list">
                        <!--<div class="col-sm-2"><button type="submit" ng-click="emailCtrl.sendEmail()" class="btn btn-success btn-lg">Send</button></div>-->
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1>&nbsp;</h1>
    <div class="row whitezone slogan">
      <h3><span style="color:#18b14b">Kid</span><span style="color:#27a9e1">Friendly</span>
          <span style="color:#000">- Making parents' lives easier, one review at a time</span>
          </h3>
    </div>
</div>
