<div class="intro-message" >
    <div class="greenzone">
      <div class="row">
        <div class="xs-hidden col-sm-1"></div>
        <div class="col-sm-3 col-xs-12">
          <img class="img-responsive center-block" src="/images/phonev2.png">
        </div>
        <div class="col-sm-8 col-xs-12" style="height:100%">
          <div class="center-block">
            <h2>KidFriendly is coming!</h2>
            <div>Discover kid friendly restaurants in your area. <br/>Coming to IOS and Android.</div>
            <div class="form-box" ng-controller="EmailMeCtrl as emailCtrl">
                <form role="form" class="form-horizontal" style="width:100%" ng-submit="emailCtrl.sendEmail()">
                    <div class="form-group form-group-lg form-group-sm">
                        <input ng-model="email" class="form-control success-border-color" type="email" id="formGroupInputLarge" placeholder="Email me when it's ready">
                        <!--<div class="col-sm-2"><button type="submit" ng-click="emailCtrl.sendEmail()" class="btn btn-success btn-lg">Send</button></div>-->
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row whitezone">
      <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="/images/max_at_aquarium_circle.png" alt="">
        <h3>Find your new favorite place</h3>
        <p>
          Discover the best kid-friendly restaurants near you. We're building a catered
          database of the very best places to bring your kids.
        </p>
      </div>
      <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="/images/max_looking_at_food.png" alt="">
        <h3>Search by what's important</h3>
        <p>Sometimes you want something healthy. Some days you just need it fast.</p>
      </div>
      <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="/images/dinosaur_circle.png" alt="">
        <h3>Share advice</h3>
        <p>Read what the community has to say. We focus on practical advice, like where's
          the best place to sit? Is the parking close?
        </p>
      </div>
    </div>
    <div class="row whitezone slogan">
      <h3><span class="title" style=" text-shadow: 0px 1px 1px #AAA; font-size:50px !important; color:#2276d7;">KidFriendly</span>
          <span style="color:#000">- Making parents' lives easier, one review at a time</span>
          </h3>
    </div>
</div>
