/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.header-logo {

}

.search-background {
    background: url('../images/background1.jpg') no-repeat center;
}

.search-button {
 margin-right: 5px;
}

.search-button-icon {
    color: #fff;
}