<ion-view title='<img class="title-image" src="images/kf_logo_v3-two-tone.png">'>
    <ion-content class="has-header padding search-background">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
            <button class="button button-balanced search-button">
                <i class="icon ion-search search-button-icon"></i>
            </button>
        </label>
    </ion-content>
</ion-view>