<ion-view title='<img class="title-image" src="img/logo.png">'>
    <ion-content class="has-header padding search-background">
        <div class="row">
            <div class="col col-50">
                <h6>Was the environment welcoming for your family?</h6>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h6>Did you get your food promptly?</h6>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col col-50">
                <div class="row">
                    <h6>Highchairs/Kids Menus</h6>
                </div>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="row">
                    <h6>Activities (Crayons, play area)</h6>
                </div>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h6>Will you be coming back?</h6>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h6>Kid eat free</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-small">
                        S
                    </a>
                    <a class="button button-small">
                        M
                    </a>
                    <a class="button button-small">
                        T
                    </a>
                    <a class="button button-small">
                        W
                    </a>
                    <a class="button button-small">
                        T
                    </a>
                    <a class="button button-small">
                        F
                    </a>
                    <a class="button button-small">
                        S
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col">
                <textarea class="text-area-border" placeholder="Advice for other parents"></textarea>
             </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h6>Overall Kid Friendliness</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                    <a class="button button-clear">
                        <span class="ion-ios7-star-outline button-star"></span>
                    </a>
                </div>
            </div>
        </div>
        <button class="button button-block button-positive">Leave Opinion</button>
    </ion-content>
</ion-view>