<ion-view title='<img class="title-image" src="img/logo.png">'>
    <ion-content class="has-header padding search-background">
        <div class="row">
            <div class="col col-50">
                <h5>Would you comeback again with your family?</h5>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h5>Did you get your food promptly?</h5>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col col-50">
                <h5>Was the environment welcoming for your family?</h5>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="row">
                    <h5>Was there accommodations for your family?</h5>
                </div>
                <div class="row">
                    <h5>(High chairs, kids menu, etc)</h5>
                </div>
            </div>
            <div class="col col-50">
                <div class="button-bar">
                    <a class="button">Yes</a>
                    <a class="button">No</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <h5>Overall Experience</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a class="button">
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                    </a>
                    <a class="button">
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                    </a>
                    <a class="button">
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                    </a>
                    <a class="button">
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                    </a>
                    <a class="button">
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                        <span class="ion-ios7-star" style="color:#ff8800"></span>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>